{% extends "base.html" %}

{% block title %}Blog entries{% endblock %}

{% block content_title %}Gallery{% endblock %}

{% block content %}

{% for album in albums %}
<div class="col-md-3">
    <div class="album-frame">
        <a class="thumbnail album-thumbnail" href="{{ url_for('.album', id=album.id) }}">
            <img class="img-responsive portrait" src="{{ album.cover }}">
        </a>
    </div>
    <div class="info">
        <h5><a href="{{ url_for('.album', id=album.id) }}">{{ album.title }}</a></h5>
        <span>{{ album.photos.count() }} photos</span>
        <span>Build at {{ album.timestamp }}</span>
    </div>
</div>

{% else %}
<p>No albums have been created yet.</p>

{% endfor %}

{% endblock %}